# Byte-compiled / optimized / DLL files
__pycache__/*
*.py[cod]

# Distribution / packaging
.Python
env/
build/
resources/
dist/
eggs/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.mp3
*.log

settings.py
Icon?

eleonora/training/**/*.jpg
eleonora/training/**/*.png
eleonora/training/**/*.zip

eleonora/data/**/*.jpg
eleonora/data/**/*.png
eleonora/data/**/*.zip
eleonora/data/**/*.h5
eleonora/data/**/*.db
eleonora/data/**/*.csv
eleonora/data/**/*.dat

eleonora/data/hotkeys/*
eleonora/data/models/*
eleonora/data/haarcascades/*
eleonora/modules/snowboy/**/*.so

.datasets/

datasets/**/*
models/*
KDEF/*
