# Byte-compiled / optimized / DLL files
__pycache__/*
*.py[cod]

# Distribution / packaging
.Python
env/
build/
resources/
dist/
eggs/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

settings.py
Icon?

eleonora/training/**/*.jpg
eleonora/training/**/*.png
eleonora/training/**/*.zip

eleonora/data/faces/**/*.jpg
eleonora/data/faces/**/*.png
eleonora/data/**/*.zip
eleonora/data/**/*.h5
eleonora/data/**/*.hdf5
eleonora/data/**/*.db
eleonora/data/**/*.csv
eleonora/data/**/*.mat

training/data/*

eleonora/modules/snowboy/**/*.so

.datasets/

datasets/**/*
KDEF/*
